/*
================================================================================
FUNCMAP nextflow.config
================================================================================
Functional profiling pipeline combining HUMAnN and AMR/RGI-CARD workflows.
================================================================================
*/

manifest {
    name            = 'FUNCMAP'
    author          = 'Gabriele Conti'
    description     = 'Functional profiling pipeline integrating HUMAnN and AMR/RGI-CARD analysis'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.04.0'
    version         = '0.0.2'
}

params {
    /*
     * Input / output
     */
    input       = null
    samplesheet = null
    dbsheet     = null
    outdir      = 'results'

    /*
     * Container
     */
    funcmap_container = null

    /*
     * Workflow switches
     */
    run_humann = true
    run_amr    = true

    /*
     * HUMAnN options
     * Allowed: raw, relab, cpm, relab_cpm, full
     * full = raw + relab + cpm
     */
    humann_renorm_units = 'full'

    /*
     * AMR/RGI bwt options
     */
    amr_aligner              = 'kma'
    amr_include_wildcard     = false
    amr_include_other_models = false
    amr_mapq                 = null
    amr_coverage             = null
    amr_save_bam             = false

    /*
     * AMR/RGI parsing options
     */
    amr_apply_filters = false
    amr_min_reads     = 10
    amr_min_coverage  = 55
    amr_min_mapq      = 10
    amr_relab_from    = 'rpkm'
}

profiles {

    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'First'
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        apptainer.runOptions = '-B /scratch:/scratch -B /dati:/dati'
    }

    standard {
        process.executor = 'local'
    }

    test {
        params.input   = "${projectDir}/assets/samplesheet.example.csv"
        params.dbsheet = "${projectDir}/assets/databases_funcmap.example.csv"
        params.outdir  = "${projectDir}/results_test"
    }
}

process {

    errorStrategy = 'retry'
    maxRetries    = 2

    cpus   = 2
    memory = '8 GB'
    time   = '24 h'

    withName: HUMANN_RUN {
        cpus   = 12
        memory = '48 GB'
        time   = '5 d'
    }

    withName: HUMANN_REGROUP {
        cpus   = 2
        memory = '8 GB'
        time   = '12 h'
    }

    withName: HUMANN_RENAME {
        cpus   = 2
        memory = '8 GB'
        time   = '12 h'
    }

    withName: HUMANN_RENORM {
        cpus   = 2
        memory = '8 GB'
        time   = '12 h'
    }

    withName: HUMANN_JOIN {
        cpus   = 4
        memory = '16 GB'
        time   = '24 h'
    }

    withName: AMR_RGI_BWT {
        cpus   = 8
        memory = '32 GB'
        time   = '3 d'
    }

    withName: AMR_PARSE_RGI {
        cpus   = 2
        memory = '8 GB'
        time   = '12 h'
    }

    withName: AMR_JOIN {
        cpus   = 4
        memory = '16 GB'
        time   = '12 h'
    }
}

executor {
    queueSize         = 60
    submitRateLimit   = '20/10 sec'
    pollInterval      = '15 sec'
    queueStatInterval = '30 sec'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/dag.html"
}
